@-ms-viewport{
    width: device-width;
  }

#welcome .background_image{
    height: 600px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/images/pizza.jpg');
  }

#welcome .card{
  align-items: center;
}

#placeOrder h3 {
  color: white;
}
